h1{
    font-weight: bold;
    color: blue;
    height: 30px;
}
a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
}
div{
    border: 1px solid black;
    margin: 20px 200px;
    padding: 10px 30px;
}
.s1{
    text-align: right;
}
